__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Specific ignores for the project
config.json
*.mp4
*.webm
*.m4a
*.part
*.ytdl
*.json
bin/deno.exe
bin/*.exe
